.tmp {
  outline: 1px solid lightgray;
}

@font-face {
  font-family: Exo;
  /* Exo 2.0 Thin Italic */
  src: url(../fonts/Exo2.0-Thin.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Trebuchet MS;
  src: url(../fonts/Trebuchet-MS.ttf);
  font-weight: normal;
  font-style: normal;
}

.body {
  background-color: #abcabc;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  background-color: #000;
  background-image: url("../img/background.png");
  background-size: cover;
}

.container {
  min-height: 50px;
  max-width: 1120px;
  width: 1120px;
}

.main-caption {
  font-family: 'Exo';
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.product__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__wrap {
  background-color: #f2f2f2;
}

.card__top-text {
  font-size: 16px;
  line-height: 20px;
}

.card__caption {
  margin: 0;
  padding: 0;
}

.card__name {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
}

.card__filler {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.card__bottom-text {
  color: #fff;
}
