.s1 {
  background-color: #abcabc;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1 .s2 {
  height: 50px;
  width: 50px;
  background-color: #fabfab;
}
