.tmp {
	outline: 1px solid lightgray;
}

@font-face {
	font-family: Exo; /* Exo 2.0 Thin Italic */
	src: url(../fonts/Exo2.0-Thin.otf);
	font-weight: normal; 
  	font-style: normal; 
}

@font-face {
	font-family: Trebuchet MS;
	src: url(../fonts/Trebuchet-MS.ttf);
	font-weight: normal; 
  	font-style: normal; 
}

.body {
	background-color: #abcabc;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;

	background-color: #000;
	background-image: url('../img/background.png');
	background-size: cover;
}

.container {
	min-height: 50px;
	max-width: 1120px;
	width: 1120px;
}

 .main-caption {
	font-family: 'Exo';
	font-size: 36px;
	line-height: 50px;
	color: #fff;
	margin: 0;
	padding: 0;
} 

.product {
	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		flex-basis: 320px;
	}
}

.card {
	&__wrap {
		background-image: url('../img/Back-default.png');
		background-size: 100% 100%;
		position: relative;
		padding-bottom: 4px;
	}

	&__top-text {
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		padding: 0;
		padding-top: 20px;
		margin-left: 50px;
	}

	&__caption {
		margin: 0;
		padding: 0;
		margin-left: 50px;
		padding-top: 8px;
	}

	&__name {
		margin: 0;
		padding: 0;
		font-size: 48px;
		line-height: 52px;
		font-weight: bold;		
	}

	&__filler {
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
	}

	&__description {
		display: inline-block;
		width: 130px;
		margin: 0;
		padding: 0;
		margin-left: 50px;
		padding-top: 12px;
	}
	&__image {
		min-height: 300px;
		background-image: url('../img/kot_preview.png');
		background-size: 320px auto;
		background-position: 0px 60px;
		background-repeat: no-repeat;
	}

	&__weight {
		position: absolute;
		bottom: 13px;
		right: 15px;

		width: 80px;
		height: 80px;
		box-sizing: border-box;

		border-radius: 50%;
		background-color: #1698d9;
		color: #fff;
		line-height: 22px;
		font-size: 21px;
		padding-top: 20px;
		text-align: center;
		span {
			font-size: 42px;
			text-align: center;
		}
	}

	&__bottom-text {
		color: #fff;
	}
}